webservices-jaxws/src/main/resources/wsdl/Cochews.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. -->
<definitions targetNamespace="http://com.ipartek.formacion/types" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://com.ipartek.formacion/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xs:schema version="1.0" targetNamespace="http://com.ipartek.formacion/types" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="obtenerCocheporCodigo" type="tns:obtenerCocheporCodigo"/>

      <xs:element name="obtenerCocheporCodigoResponse" type="tns:obtenerCocheporCodigoResponse"/>

      <xs:element name="obtenerTodos" type="tns:obtenerTodos"/>

      <xs:element name="obtenerTodosResponse" type="tns:obtenerTodosResponse"/>

      <xs:complexType name="obtenerTodos">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="obtenerTodosResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:cocheColeccion" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="cocheColeccion">
        <xs:sequence>
          <xs:element name="coches" type="tns:coche" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="coche">
        <xs:sequence>
          <xs:element name="codigo" type="xs:int"/>
          <xs:element name="nombre" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="obtenerCocheporCodigo">
        <xs:sequence>
          <xs:element name="codigocoche" type="xs:int" form="qualified" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="obtenerCocheporCodigoResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:coche" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="obtenerTodos">
    <part name="parameters" element="tns:obtenerTodos"/>
  </message>
  <message name="obtenerTodosResponse">
    <part name="parameters" element="tns:obtenerTodosResponse"/>
  </message>
  <message name="obtenerCocheporCodigo">
    <part name="parameters" element="tns:obtenerCocheporCodigo"/>
  </message>
  <message name="obtenerCocheporCodigoResponse">
    <part name="parameters" element="tns:obtenerCocheporCodigoResponse"/>
  </message>
  <portType name="cochews">
    <operation name="obtenerTodos">
      <input ns1:Action="http://com.ipartek.formacion/types/cochews/obtenerTodosRequest" message="tns:obtenerTodos" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://com.ipartek.formacion/types/cochews/obtenerTodosResponse" message="tns:obtenerTodosResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="obtenerCocheporCodigo">
      <input ns3:Action="http://com.ipartek.formacion/types/cochews/obtenerCocheporCodigoRequest" message="tns:obtenerCocheporCodigo" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://com.ipartek.formacion/types/cochews/obtenerCocheporCodigoResponse" message="tns:obtenerCocheporCodigoResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

