webservices-jaxws/src/main/resources/wsdl/Peliculasservice.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. -->
<definitions targetNamespace="http://com.ipartek.formacion/types" name="peliculasservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://com.ipartek.formacion/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://com.ipartek.formacion/types" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="obtenerporid" type="tns:obtenerporid"/>

      <xs:element name="obtenerporidResponse" type="tns:obtenerporidResponse"/>

      <xs:element name="obtenertodos" type="tns:obtenertodos"/>

      <xs:element name="obtenertodosResponse" type="tns:obtenertodosResponse"/>

      <xs:complexType name="obtenerporid">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="obtenerporidResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:peliculaMensaje" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="peliculaMensaje">
        <xs:sequence>
          <xs:element name="mensaje" type="xs:string" minOccurs="0"/>
          <xs:element name="pelicula" type="tns:pelicula" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="pelicula">
        <xs:sequence>
          <xs:element name="codigo" type="xs:int"/>
          <xs:element name="festreno" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="genero" type="tns:genero" minOccurs="0"/>
          <xs:element name="titulo" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="genero">
        <xs:sequence>
          <xs:element name="nombre" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="obtenertodos">
        <xs:sequence/>
      </xs:complexType>

      <xs:complexType name="obtenertodosResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:peliculaColeccionMensaje" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="peliculaColeccionMensaje">
        <xs:sequence>
          <xs:element name="mensaje" type="xs:string" minOccurs="0"/>
          <xs:element name="peliculas" type="tns:peliculaColeccion" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="peliculaColeccion">
        <xs:sequence>
          <xs:element name="peliculas" type="tns:pelicula" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="obtenertodos">
    <part name="parameters" element="tns:obtenertodos"/>
  </message>
  <message name="obtenertodosResponse">
    <part name="parameters" element="tns:obtenertodosResponse"/>
  </message>
  <message name="obtenerporid">
    <part name="parameters" element="tns:obtenerporid"/>
  </message>
  <message name="obtenerporidResponse">
    <part name="parameters" element="tns:obtenerporidResponse"/>
  </message>
  <portType name="PeliculasServiceWSImp">
    <operation name="obtenertodos">
      <input wsam:Action="http://com.ipartek.formacion/types/PeliculasServiceWSImp/obtenertodosRequest" message="tns:obtenertodos"/>
      <output wsam:Action="http://com.ipartek.formacion/types/PeliculasServiceWSImp/obtenertodosResponse" message="tns:obtenertodosResponse"/>
    </operation>
    <operation name="obtenerporid">
      <input wsam:Action="http://com.ipartek.formacion/types/PeliculasServiceWSImp/obtenerporidRequest" message="tns:obtenerporid"/>
      <output wsam:Action="http://com.ipartek.formacion/types/PeliculasServiceWSImp/obtenerporidResponse" message="tns:obtenerporidResponse"/>
    </operation>
  </portType>
  <binding name="PeliculasServiceWSImpPortBinding" type="tns:PeliculasServiceWSImp">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="obtenertodos">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="obtenerporid">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="peliculasservice">
    <port name="PeliculasServiceWSImpPort" binding="tns:PeliculasServiceWSImpPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

